#panel{
	background-color:rgba(0,0,0,0);
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
}
#panel .panel-button{
	background-color:rgba(2,247,178,0.8);
	border-radius:2em;
	border:3px solid black;
	color:black;
}
#panel .panel-button:hover{
	background-color:rgba(2,247,178,1);
	border-radius:2em;
}
#panel .panel-button:active{
	background-color:rgba(0,0,0,1);
	border-radius:2em;
}
